#terminal {
    background-color: $terminal-background;
    height:100%;
    white-space: pre-line;
    overflow:auto;
    font-family: "Courier New", Courier, monospace
}

.terminal-output {
	color:$terminal-text;
}

.terminal-input {
	width:100%;
	color:$terminal-text;
	input {
		color:$terminal-text;
    }
}
